body{
    background: radial-gradient(circle,#69b937,rgb(41, 83, 83));
}
nav{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(15px) saturate(100%);
    transition: 3s;
}
@keyframes link1 {
    0%{
        rotate: 0deg;
    }
    25%{rotate: -90deg;}
    50%{ rotate: -180deg;
    }
    75%{ rotate: -270deg;
    }
    100%{
        rotate: -360deg;
    }
}
img{
    width:200px; 
    height:200px;
    border-radius: 50%;
    animation-name: link1;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
}
ul a{
    margin-right: 40px;
}

ul a:hover{
    transition: 2s;
    padding: 10px;
    transform: scale(2);
}
ul a:not(:hover){
    backdrop-filter: blur(10px);
    transform: scale(0.9,0.9);
}
.menu-icon{
    display: none;
}

.hidden
{
    display: none;
}

.phoneStyle
{
    list-style: none;
    color: brown;
}

.menu{
    list-style: none;
    position: absolute; 
    top: 200px;
    left: 0px;
    width: auto; 
    height: auto; 
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    display: grid;
    place-items: center;
}

@media (max-width: 900px) {
    nav{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }   
}
.container{
    animation-name: name;
    animation-duration: 3s;
    position: relative;
    width: 50%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
@keyframes name {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.sv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sv a{
    margin-right: 10px;
}

 svg{
    margin-top: 10px;
    margin-right: 10px;
}
svg:hover{
    transition: 2s;
    color: beige;
    transform: scale(1.3) ;
}
.bu{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: larger;
    padding: 10px 5px 10px 5px;
    background-color: rgb(41, 83, 83);
    border-radius: 15px;
    border: 1px solid  #69b937;
    padding-top: 10px;
    color: #69b937;
}
.bu:hover{
    transition: 3s;
    background-color: #69b937;
    transform: scale(1.5);
    color: rgb(41, 83, 83);
}


@media(max-width: 480px){
    .container{
        width: 100%;
        margin-top: 100px;
    }
    .menu-icon{
        display: block;
        background-color: inherit;
        border-style: none;
    }
    .menu-icon:hover{
        color: aliceblue;
    }
    #menu1{
        display: none;
    }
}


@media(max-width: 768px) {
        .container{
            width: 90%;
            margin-top: 100px;
        }
        .menu-icon{
            display: block;
            background-color: inherit;
            border-style: none;
        }
        .menu-icon:hover{
            color: aliceblue;
        }
        #menu1{
            display: none;
        }

}
