body{
    background: linear-gradient(to right,#69b937,rgb(32, 31, 31));
    
}
nav{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(15px) saturate(100%);
    transition: 3s;
}
@keyframes link1 {
    0%{
        rotate: 0deg;
    }
    25%{rotate: -90deg;}
    50%{ rotate: -180deg;
    }
    75%{ rotate: -270deg;
    }
    100%{
        rotate: -360deg;
    }
}
nav img{
    width:200px; 
    height:200px;
    border-radius: 50%;
    animation-name: link1;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
}

ul a{
    margin-right: 40px;
}

ul a:hover{
    transition: 2s;
    padding: 10px;
    transform: scale(2);
}

ul a:not(:hover){
    backdrop-filter: blur(10px);
    transform: scale(0.9,0.9);
}

.menu-icon{
    display: none;
}
.hidden
{
    display: none;
}



.menu{
    position: absolute; 
    top: 200px;
    left: 0px;
    width: auto; 
    height: auto; 
    background-color: rgba(0, 0,0, 0.7);
    border-radius: 20px;
    display: grid;
    place-items: center;
    list-style: none;
}

@keyframes name {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: space-around;
    justify-content: space-around;
    width: 70%;
    height: 500px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 30px;
    list-style: none;
    font-family: fantasy;
    font-weight: 1000;
 }

    .service1{
        text-align: center;
        flex: 1 0 300px;
        color: aliceblue;
        padding: 5px;
        background-color: rgba(32, 31, 31, 0.3);
        position: relative;
        filter: drop-shadow(10px 10px 15px rgb(190, 169, 169));
        border-radius: 30px;
        margin-top: 10px;
        width: 30%;
        height: 50%;
        font-weight: 1000;
        font-size: larger;
        place-content: center;
    }

    .service1:hover{
        box-shadow: 10px 10px 10px 10px black;
    }


 @media (max-width: 900px) {
    nav{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }   

}
@media (max-width: 480px) {
    .container{
        width: 100%;
       display: flex;
       place-items: center;
       margin-left: 0%;
        margin-right: 0%;
        margin-top: 100px;
    }
    .service1{
        display: flex;
        place-content: center;
        width: 100%;
    }
.menu-icon{
    display: block;
    background-color: inherit;
    border-style: none;
}
.menu-icon:hover{
    color: aliceblue;
}
#menu1{
    display: none;
}
}

@media(max-width: 768px) {
    #menu1{
        display: none;
    }
    .container{
        display: flex;
        place-items: center;
        width: 90%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 100px;
    }
    .service1{
        width: 90%;
    }
    .menu-icon{
        display: block;
        background-color: inherit;
        border-style: none;
    }
    .menu-icon:hover{
        color: aliceblue;
    }

}